{% extends "base.html.twig" %}
{% block body %}
    <hr>
    {{ parent() }}
    <hr>
    <table class="table">
        <tr class="table-dark">
            <td>name</td>
            <td>firstname</td>
            <td>age</td>
        </tr>
        {% for user in users %}
            <tr
                    class="table-{% if loop.index is even %}primary{% else %}secondary{% endif %}"
            >
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.age }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block title %}
    Users
{% endblock %}
